/*
 * Style twaks
 * --------------------------------------------------
 */
body {
  padding-top: 70px;
}

footer {
  padding-left: 15px;
  padding-right: 15px;
}

.conf-list .row {
	margin-bottom: 30px;
}

.schedule-table th {
	text-align: center;
}

td.slot {
	text-align: center;
}

td.event {
	background-color: #ededed;
}

td.time {
	text-align: left;
	width: 80px;
}

#add-category-btn {
  margin: 7px 0 0 5px;
}

.category-option {
  margin-bottom: 7px;
}

.del-category-btn {
  margin-left: 5px;
}

/*
 * Off Canvas
 * --------------------------------------------------
 */
@media screen and (max-width: 768px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }

  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -50%; /* 6 columns */
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -50%; /* 6 columns */
  }

  .row-offcanvas-right.active {
    right: 50%; /* 6 columns */
  }

  .row-offcanvas-left.active {
    left: 50%; /* 6 columns */
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 50%; /* 6 columns */
  }
}